.input-file-button{
    padding: 6px 20px;
    border-radius: 4px;
    color: #8AC038;
    cursor: pointer;
    border: 1.5px solid #8AC038;
    &:hover{
        background-color: #8AC038;
        color: white;
    }
}

.file-btn {
    padding: 6px 20px;
    border-radius: 4px;
    color: #8AC038;
    cursor: pointer;
    border: 1.5px solid #8AC038;
    background-color: white;
    font-size: 15px;
    &:hover{
        background-color: #8AC038;
        color: white;
    }
}